<div class="row">
    <div class="row" >
        <div class="col-lg-1"></div>
        <div class="col-xs-12  col-md-4 col-sm-4 col-lg-3">
            <img src="../../../assets/foto-perfil.jpeg" alt="agus" id="perfil">
        
        </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">agustin oviedo</p>
        <p>desarrollador web full stack junior</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h1>Acerca de mí</h1>
            <p>soy un chico de san antonio oeste que estudia la carrera de electromecanica en el cet 19, mi deseo es estudiar programacion en la universidad nacional del sur</p>
        </span>
    </div>
</div> 